<section class="pt-0">
  <!-- Slider START -->
  <div class="swiper overflow-hidden">
    <swiper-container
      class="swiper-wrapper"
      [config]="digitalTestimonial"
      init="false"
    >
      <swiper-slide class="swiper-slide">
        <div
          class="card overflow-hidden min-vh-100 rounded-0"
          style="
            background: url(assets/images/3d/hero1.jpg) no-repeat;
            background-size: cover;
            background-position: center;
          "
        >
          <!-- Bg overlay -->
          <div class="bg-overlay bg-linear-overlay"></div>

          <!-- Card image overlay -->
          <div
            class="position-relative z-index-2 d-flex flex-column m-auto h-100 py-9"
          >
            <div class="container">
              <div class="row">
                <div class="col-sm-11 col-lg-8 col-xl-7 text-center m-auto">
                  <span
                    class="bg-white bg-opacity-10 text-white small rounded-3 px-3 py-2"
                    >🚀 #OPTIMAT Incorporation
                    </span
                  >
                  <!-- Title -->
                  <h1 class="text-white display-4 my-4">
                    Le premier et le meilleur
                     
                    <span class="text-primary">STUDIO D’ANIMATION 3D</span> en RDC.
                  </h1>
                  <p class="text-white mb-5">
                    Nous sommes une entreprise de communication et un
                    studio professionnel d’animation 3D,
                    spécialisé dans la production des films
                    et séries d’animation 3D.
                  </p>
                  <a
                    class="btn btn-lg btn-white icon-link icon-link-hover mb-0"
                    routerLink="/about/optimat-incorporation"
                    >Découvrez nos services <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <div
          class="card overflow-hidden min-vh-100 rounded-0"
          style="
            background: url(assets/images/3d/hero2.jpg) no-repeat; 
            background-size: cover;
            background-position: center;
          "
        >
          <!-- Bg overlay -->
          <div class="bg-overlay bg-linear-overlay"></div>

          <!-- Content -->
          <div
            class="position-relative z-index-2 d-flex flex-column m-auto h-100 py-9"
          >
            <div class="container">
              <div class="row">
                <div class="col-sm-11 col-lg-8 mt-auto">
                  <!-- Title -->
                  <h1 class="text-white display-4 mb-4">
                    Le premier et le meilleur
                    <span class="fw-light">STUDIO D’ANIMATION 3D</span> en RDC.  
                  </h1>
                  <p class="text-white mb-5">
                    Nous sommes une entreprise de communication et un
                    studio professionnel d’animation 3D,
                    spécialisé dans la production des films
                    et séries d’animation 3D.
                  </p>
                  <a
                    class="btn btn-lg btn-primary icon-link icon-link-hover mb-0"
                    routerLink="/about/optimat-incorporation"
                    >Découvrez nos services<i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
    <!-- Slider Pagination -->
    <div
      id="hero-pagination"
      class="swiper-pagination swiper-pagination-line position-absolute bottom-0 mb-3"
    ></div>
  </div>
  <!-- Slider END -->
</section>
